section{
    margin-top: 5%;
}
.container{
    border-top: solid 1px #333;
    
}
.con-l{
    border-right: solid 1px #333;
}
.cate{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #333;
    margin-top: 5%;
    /* justify-content: center; */
}
.cate p{
    align-items: center;
}
p > img{
    height: 160px;
    width: 120px;
}
.sub-cate{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #333;
    margin-top: 5%;


}
.check{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}